<!DOCTYPE html>
<html 
class="dark"
xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM Application Layout</title>

    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div data-th-replace="~{navbar :: navbar}"></div>
   <main class="h-screen w-full dark:bg-gray-600 text-black dark:text-white" layout:fragment="content"></main>
    



  <footer>
    <p>© 2025 My Site</p>
  </footer>


    <script src="https://unpkg.com/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{'js/script.js'}"></script>

</body>
</html>
